#feedback {
    display: flex;
    flex-direction: column;
}

#feedback>div>{
    max-width: 1024px;
}

#feedBasicInfo {
    display: flex;
    gap: 12px;
}

#feedBasicInfo>div {
    display: flex;
    flex-direction: column;
    flex: 1;
}
#feedBasicInfo label:has(input[type="checkbox"]){
    display: flex;
    gap: 6px;
    transition: all 0.3s;
    border: 1.5px solid transparent;
    border-radius: 4px;
    padding-left: 6px;
}
#feedBasicInfo label:has(input[type="checkbox"]:checked){
    background-color: var(--button-bg);
    border-color: var(--button-border);
    border-top-color: var(--button-border-top);
    border-bottom-color: var(--button-border-bottom);
}

#feedContent {
    display: flex;
}

#feedContent>textarea {
    flex: 1;
    resize: vertical;
}

#feedbackForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#formButtonArea {
    display: flex;
    gap: 6px;
}

#formButtonArea>button {
    flex: 1;
}

@media (min-width: 1025px) {
    #feedBasicInfo {
        flex-direction: row;
    }

    #feedback {
        align-items: center;
    }

    #feedback>div>* {
        width: 100%;
    }

    #formButtonArea {
        flex-direction: row;
    }
}

@media (max-width: 1024px) {
    #feedBasicInfo {
        flex-direction: column;
    }

    #formButtonArea {
        flex-direction: column;
    }
}